<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule ^(.*)$ load.php/$1 [QSA,PT,L]
</IfModule>
<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
DirectoryIndex load.php
order deny,allow