<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8; width=device-width; initial-scale=1.0" name="viewport"/>
	<title><?php echo $_SESSION['SiteName']; ?></title>
	<script src="<?php echo $_SESSION['SiteUrl'];?>js/Jquery"></script>
	<script src="<?php echo $_SESSION['SiteUrl'];?>js/LibJs"></script>
	<link href="<?php echo $_SESSION['SiteUrl'];?>css/base.css" rel="stylesheet">
	<script src="<?php echo $_SESSION['SiteUrl'];?>js/Lang"></script>
	<link href="<?php echo $_SESSION['SiteUrl'];?>css/JqueryUI/jquery-ui.css" rel="stylesheet">
	<script src = '<?php echo $_SESSION['SiteUrl'];?>js/JqueryUI'></script>
	<link href="<?php echo $_SESSION['SiteUrl'];?>css/DataTables/jquery.dataTables.css" rel="stylesheet">
	<script src = '<?php echo $_SESSION['SiteUrl'];?>js/JqueryDataTables'></script>
</head>
	<body>